
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background-image: url('../multimedia/img/Fondo_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  /* background-color: #f6e9c7; */
  /* cursor:url('../multimedia/img/mano.png'),32 32, auto; */
  cursor:none;
}
.seccion4{
   background-image: url('../multimedia/img/fondo-secc4.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.seccion4,.seccion5,.seccion6 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor-img {
  position: fixed;
  width: 80px; 
  height: auto;
  pointer-events: none; 
  transform: translate(-80%, -10%); 
  z-index:1000;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  width: 100%;
  height: 40vh;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}


.seccion {
  padding: 50px;
  text-align: center;
  min-height: 100vh;
  color: #000000;
}

/* ...............................................................Botón flotante Calavera */
.flotante-calavera {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  display: none;
}

.flotante-calavera img {
  width: 80px;
  height: auto;
  cursor: none;
  margin-right: 0;
  transition: transform 0.3s ease;
}

.flotante-calavera img:hover {
  transform: scale(1.05);
  transform: translateY(-50%) scale(1.1) rotate(10deg);
}
@media (max-width: 768px) {
    .flotante-calavera {
    bottom: 10px;
    right: 10px;
    z-index: 999;
    display: none;
    }
    #cursor-img {
      display: none;
    
    }
}

/*navbar*/
header{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-top: 0;
}
.contenedor-principal {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  position: relative;
  z-index: 100;
}

.llama-menu {
  width: 8vw;
  height:10vw;
  margin-right:2vw;
}

.llama-menu img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 9999;
}

.vela:hover {
  transform: scale(1.05);
}

.menu {
  position: absolute;
  list-style: none;
  background-color: #c5aebd;
  backdrop-filter: blur(10px);
  border: 1px solid gba(116, 114, 114, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.252);
  right: 2vw;
  top:11vw;
  width: 8vw;
  height: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.hidden {
  display: none;
}

.menu ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

li a {
  font-size: 1.2vw !important;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  padding: 3%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a:hover {
  color: rgb(232, 211, 184);
  cursor: pointer;
  text-decoration: underline;
  width: 100%;
}

.video-corto {
  width: 75%;
}

@media (max-width: 768px) {
.llama-menu {
  width: 12vw;
  height:14vw;
  margin-top: 4vw;
}
.menu {
  right: 4vw;
  top:18vw;
  width: 24vw;
  height: 28vw;
}
li a {
  font-size: 3vw !important;
  color: rgb(254, 252, 255);
  padding: 2%;

}
}
/*fin del navbar*/

.modal {
  display: none; /* controlado por JS */
  position: fixed;
  z-index: 1000;
  inset: 0; /* equivale a top, left, right, bottom en 0 */
  background-color: rgba(0, 0, 0, 0.85);
  animation: fadeIn 0.5s ease forwards;

  /* centrado con flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #111; /* para contraste */
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.8);
  width: 90%;
  max-width: 800px;
  color: #F2A007;
  text-align: center;
}

.modal-content video {
  width: 100%;
  border: 5px solid #F2A007; /* marco dorado */
  border-radius: 10px;        /* esquinas redondeadas */
  margin: 10px 0;
  box-shadow: 0 0 15px rgba(242, 160, 7, 0.6); /* brillo dorado opcional */
}

.modal-content h2 {
  font-size: 1.8rem;
  margin: 15px 0 10px;
  color: #F2A007; /* dorado */
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.modal-content p {
  font-size: 1rem;
  margin: 10px 15px 20px;
  color: #000000; /* texto claro */
  line-height: 1.5;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  color: #fff;
  background: rgba(255,0,0,0.7);
  border-radius: 50%;
  padding: 4px 10px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  background: red;
  color: #fff;
}

